{% load staticfiles %}
<html ng-app="embEmApp">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <base href="/">

        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">

        <script type="text/javascript" src="{% static 'd3/d3.min.js'%}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/stacked-bar-chart.js'%}" charset="utf-8"></script>
        <style>
            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            .bar {
                fill: steelblue;
            }

            .x.axis path {
                display: none;
            }

        </style>
    </head>
    <body>
        <script type="text/javascript" src="{% static 'angular/angular.js'%}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'angular-route/angular-route.js'%}" charset="utf-8"></script>

        <div class="container-fluid" ng-controller="EntitiesCtrl">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="glyphicon glyphicon-search input-group-addon"></div>
                            <input type="text" class="form-control" id="search" placeholder="Search entities..." ng-model="query">
                        </div>
                        <div id="search-results" ng-show="query">
                            <div class="search-result" ng-repeat="cat in categories | filter : searchFn as results" ng-cloak>
                                <div style="display:inline-block;">
                                    <strong>{% verbatim %}{{ cat.fields.name[0] }}{% endverbatim %}</strong>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="glyphicon glyphicon-eye-open" ng-click="setMainCat(cat.fields.name[0])" title="Set main category"></button>
                                    <button type="button" class="glyphicon glyphicon-tag" ng-click="addToCompareWith(cat.fields.name[0])" title="Add category to compare with"></button>
                                </div>
                            </div>
                            <div ng-if="results.length == 0" ng-cloak>No results.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="row">
                        <div>
                            Main category: 
                            <span ng-show="mainCat">
                                {% verbatim %}{{ mainCat }}{% endverbatim %} 
                                <button class="btn btn-default btn-sm" ng-click="removeMainCat()" title="Remove main category">
                                    <span class="glyphicon glyphicon-remove-circle"</span>
                                </button>
                            </span>
                            <div ng-show="compareWith">
                                Compare with:
                                <span ng-repeat="cat in compareWith" ng-cloak>
                                    {% verbatim %}{{ cat }}{% endverbatim %}
                                    <button class="btn btn-link" ng-click="removeFromCompareWith(cat)" title="Remove category to compare with"><span class="glyphicon glyphicon-remove-circle"></span></button>
                                </span>
                            </div>
                            <div>
                                <table class="table table-striped" ng-show="entityStatistics">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th># words</th>
                                            <th ng-show="mainCat">% {% verbatim %}{{ mainCat }}{% endverbatim %} words</th>
                                            <th ng-repeat="cat in compareWith">% {% verbatim %}{{ cat }}{% endverbatim %} words</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="(textId, stats) in entityStatistics">
                                        <td>{% verbatim %}{{ textId }}{% endverbatim %}</td>
                                        <td ng-repeat="cat in stats">
                                            <span ng-show="cat.category=='basics'">{% verbatim %}{{ cat.num_words }}{% endverbatim %}</span>
                                            <span ng-show="cat.category!='basics'">{% verbatim %}{{ cat.percentage | number:2 }}{% endverbatim %}</span>
                                        </td>
                                    </tr>
                                </table>

                                <table class="table table-striped" ng-show="subgenreStatistics">
                                    <thead>
                                        <tr>
                                            <th>Subgenre</th>
                                            <th># texts</th>
                                            <th ng-show="mainCat">% {% verbatim %}{{ mainCat }}{% endverbatim %} words</th>
                                            <th ng-repeat="cat in compareWith">% {% verbatim %}{{ cat }}{% endverbatim %} words</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="(subgenre, stats) in subgenreStatistics">
                                        <td>{% verbatim %}{{ subgenre }}{% endverbatim %}</td>
                                        <td ng-repeat="cat in stats">
                                            <span ng-show="cat.category=='basics'">{% verbatim %}{{ cat.num_texts }}{% endverbatim %}</span>
                                            <span ng-show="cat.category!='basics'">{% verbatim %}{{ cat.percentage | number:2 }}{% endverbatim %}</span>
                                        </td>
                                    </tr>
                                </table>

                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

                <script src="{% static 'jquery/dist/jquery.min.js'%}"></script>

                <script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
                <script src="{% static 'js/controllers.js' %}"></script>
                </body>
                </html>
