{% load staticfiles %}
<html ng-app="embEmApp">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">

        <script type="text/javascript" src="{% static 'd3/d3.min.js'%}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/stacked-bar-chart.js'%}" charset="utf-8"></script>
        <style>
            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            .bar {
                fill: steelblue;
            }

            .x.axis path {
                display: none;
            }

        </style>
    </head>
    <body>
        <script type="text/javascript" src="{% static 'angular/angular.js'%}" charset="utf-8"></script>

            {% block content %}{% endblock %}

        <script src="{% static 'jquery/dist/jquery.min.js'%}"></script>

        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/controllers.js' %}"></script>
    </body>
</html>
