<div ng-controller="PairsCtrl">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="intervalSize">Interval</label>
            <input type="number" ng-model="pairs.intervalSize" id="intervalSize">
            <label for="pair">Pair</label>
            <input ng-model="pairs.pair" id="pair">
            <button class="btn btn-default btn-sm" ng-click="getPairsData()">Show</button>
         </div>
    </form>
    <span ng-repeat="p in pairs.pairs">
        <span class="label label-primary">
            {{ p }}
        </span>&nbsp; 
    </span>
    <nvd3-line-chart
        data="pairs.data"
        width="1200"
        height="500"
        showXAxis="true"
        showYAxis="true"
        x="xFunction()"
        y="yFunction()"
        objectEquality="true"
        isArea="false"
        color="colorFunction()"
        legendColor="colorFunction()"
        showLegend="true">
            <svg class="remove-height"></svg>
    </nvd3-line-chart>
</div>
