{% load staticfiles %}
<html>
    <head>
        <title>Entity Words</title>
    </head>

    <body>
    <h1>Entity Words</h1>

    <h2>Frequency in corpus ({{ num_texts }} texts)</h2>
    {% for category, values in entity_words.items %}
        <table border="1" style="float: left">
            <tr>
                <th>{{ category }}</th><th>Frequency</th>
            </tr>
            {% for v in values|slice:":25" %}
                <tr>
                    <td>{{ v.key }}</td>
                    <td>{{ v.doc_count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <div style="clear:both;"></div>

    <h2>Entities per year</h2>
    {% for category, values in ew_year.items %}
        <h3>{{ category }}</h3>
        {% for v in values %}
            <table border="1" style="float: left">
                <th colspan="2">{{ v.key }} ({{ v.texts.value }})</th>
                {% for b in v.entity.buckets %}
                    <tr>
                        <td>{{ b.key }}</td><td>{{ b.doc_count }}</td>
                    </tr>
                {% empty %}
                    {% for i in range %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
        <div style="clear:both;"></div>
    {% endfor %}
    
    <h2>Entities per genre</h2>
    {% for category, values in ew_genre.items %}
        <h3>{{ category }}</h3>
        {% for v in values %}
            <table border="1" style="float: left">
                <th colspan="2">{{ v.key }} ({{ v.texts.value }})</th>
                {% for b in v.entity.buckets %}
                    <tr>
                        <td>{{ b.key }}</td><td>{{ b.doc_count }}</td>
                    </tr>
                {% empty %}
                    {% for i in range %}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% endfor %}
        <div style="clear:both;"></div>
    {% endfor %}
    </body>
</html>

